<div class="content-home">
    <section class="section">
        <div class="section-body">
            <div class="container">
                <header>
                    <h1>Home - Carrito</h1>
                </header>
                <div class="cart-products-container">
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/carts.js"></script>




