<div class="error-plantilla">
    <h1 id="title">Error 404</h1>
    <h3 id="subtitle">El recurso proporcionado no existe en este servidor.</h3>
    <img src="/api/public/images/404.webp" alt="Imagen que representa error 404">
</div>