<div class="content-home">
    <div class="container">
    <header>
    <h1>Home - Products</h1>
</header>

<main>
    <section class="section">
        <div class="section-body">
            <h3>Productos</h3>
            <div>
                <ul id="products-list"></ul>
            </div>
            <button class="btn" id="btn-refresh-products">Refrescar</button>
        </div>
    </section>
</main>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.js"></script>