<div class="content-home">
    <div class="container">
    <header>
    <h1>Home - Products</h1>
</header>

<main>
    <section class="section">
        <h3>Productos</h3>
        <div class="section-body">
            <div class="products__list">
                <ul class="products__list__item" id="products-list"></ul>
            </div>
            <button id="btn-refresh-products">Refrescar Lista</button>
        </div>
    </section>
</main>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.js"></script>