<h1>App WebSocket - Mensajes</h1>

<div>
    <h3 id="my-socket-id"></h3>
    <input type="text" id="text">
    <p id="message"></p>
    <button id="refresh">Refresh</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/message.js"></script>