<div class="content-home">
    <div class="container">
        <header>
            <h1>Creador - online</h1>
        </header>

        <main class="section">
            <h3>Productos en tiempo real</h3>
            <section class="section-body">
                <article class="container-products__table">
                    <h3>Productos</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody id="products-table-rows"></tbody>
                    </table>
                </article>

                <article class="container-product__form">
                    <h3>Formulario de Productos</h3>
                    <form id="products-form" class="products-form-data">
                        <div>
                            <label for="title">Título</label>
                            <input type="text" name="title" id="title" maxlength="25">
                        </div>
                        <div>
                            <label for="description">Descripción</label>
                            <textarea name="description" rows="5"></textarea>
                        </div>
                        <div>
                            <label for="code">Código</label>
                            <input type="text" name="code" id="code">
                        </div>
                        <div>
                            <label for="price">Precio</label>
                            <input type="number" name="price" id="price">
                        </div>
                        <div>
                            <span><input type="checkbox" name="status">Estado</span>
                            <span><input type="checkbox" name="availability">Disponibilidad</span>
                        </div>
                        <div>
                            <label for="stock">Stock</label>
                            <input type="number" name="stock" id="stock">
                        </div>
                        <div>
                            <label for="category">Categoría</label>
                            <select name="category" id="category">
                                <option value="FEMENINO">FEMENINO</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="UNISEX">UNISEX</option>
                            </select>
                        </div>
                        <div>
                            <label for="file">Imagen</label>
                            <input type="file" name="file" id="file" accept=".png,.jpg,.webp">
                        </div>

                        <input class="btn" type="submit" value="Guardar" style="width: 100%">
                    </form>
                </article>
                <article class="container-product__delete">
                    <h3>Eliminación de Producto</h3>
                    <div>
                        <input type="text" id="input-product-id" placeholder="ID del Producto">
                        <button class="btn" id="btn-delete-product">Eliminar</button>
                    </div>
                </article>

                <article class="navigation">
                    <div>
                        <a class="btn" href="/">Volver al inicio</a>
                    </div>
                </article>
            </section>
        </main>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>