* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

:root{
    --border-color: linear-gradient(
        to right,
        tomato 0%,
        gold 100%
    );

    --section-color: #222;
}

body, html {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    color: #859FD9;
}

.subtitle{
    font-family: -apple-system, sans-serif;
}

.error-plantilla {
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
}

.content{
    background: linear-gradient(to right, rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-home{
    background: linear-gradient(to right, rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, sans-serif;
    align-content: start;
    gap: 10px;
    margin-bottom: 10px;
}

#product-id{
    width: 100px;
    margin: 0 auto;
}

.products-form{
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: space-between;
}

.products-form__main-fot{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.products-form__main-fot-two{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.products-form__main-fot input{
width: 100px;
font-size: 14px;
}

.products-form__box{
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.products-form__box-check{
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.container header{
    margin-top: 10px;
}

.container-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    gap: 20px;
    color: white;
}

.section{
    background: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 12px;
    position: relative;
    padding: 5px;
}

.section-body{
    background: var(--section-color);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    color: white;
}

.section-body__main{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section form{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.products-form__main{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.btn{
    color: #090909;
    padding: 10px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #b1b1b1;
    transition: all 0.3s;
}

.btn:active{
    color: #666;
}

.section.delete div{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    font-size: medium;
}


.error-message-container {
    display: none;
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    max-width: 300px;
    color: white;
    text-align: center;
}


.error-message {
    font-size: 18px;
}


.error-message-container.active {
    display: block;
}


/*  en proceso  */

.products__list {
    height: 200px;
    border: 1px solid black;
}

.products__list__item {
    list-style-position: inside;
    padding: 0;
    margin: 0.25rem;
}

.products__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
}

.products__delete {
    display: flex;
    gap: 0.5rem;
    width: 500px;
}

.products__delete__input {
    width: 100%;
}

.p-add-to-cart{
    cursor: pointer;
}