* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    color: #859FD9;
}

.subtitle{
    font-family: -apple-system, sans-serif;
}

.error-plantilla {
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
}


.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 500px;
    align-items: center;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;
}